body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

rect.border{
  opacity:0.1;
}

.masterNode.disabled{
  fill:grey;
}

circle.masterServer{
  fill: green;
  r:10;
}

circle.masterClient{
  fill:lightblue;
  r:10;
}

circle.client{
  fill:lightblue;
  r:10;
}

circle.client.clickable{
  fill:pink;
}

circle.server{
  fill: red;
  r:10;
}

circle.server.clickable{
  fill:pink;
}

rect.masterHub{
  fill: yellow;
}

rect.hub{
  fill: blue;
}

rect.hub.clickable{
  fill:pink;
}

line.separator{
  stroke-width:2;
  stroke:gray;
}

line.masterLLink{
  stroke-width:2;
  stroke:red;
  pointer-events: none;
}

line.link{
  stroke-width:2;
  stroke:red;
  pointer-events: none;
}

rect.masterLLinkButton{
  fill:white;
  stroke:blue;
}

rect.masterLLinkButton.mouseover{
  fill:blue;
  stroke:red;
}

text.label{
  pointer-events: none;
}

.nodes.toggleState{
  stroke:black;
  stroke-width:3;
}

.link.toggleState{
  stroke-width:4;
}
