body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

rect.border{
  opacity:0.1;
}

circle.masterNode{
  fill: green;
  r:10;
}

circle.node{
  fill: red;
  r:10;
}

circle.node.clickable{
  fill:pink;
}

rect.masterConnector{
  fill: yellow;
}

rect.connector{
  fill: blue;
}

rect.connector.clickable{
  fill:pink;
}

line.separator{
  stroke-width:2;
  stroke:gray;
}

line.masterLLink{
  stroke-width:2;
  stroke:red;
  pointer-events: none;
}

line.link{
  stroke-width:2;
  stroke:red;
  pointer-events: none;
}

rect.masterLLinkButton{
  fill:white;
  stroke:blue;
}

rect.masterLLinkButton.mouseover{
  fill:blue;
  stroke:red;
}

text.label{
  pointer-events: none;
}
