extends layout

block content
  
  div.container
    div.jumbotron
      h1 Coracle
    ul.nav.nav-tabs(role='tablist')
      li.active(role='presentation')
        a(href='#settingsTabContent', role='tab',data-toggle='tab')#settingsTab Settings
      li(role='presentation')
        a(href='#resultsTabContent', role='tab',data-toggle='tab')#resultsTab Results
    div.tab-content
      div.tab-pane.active#settingsTabContent(role='tabpanel')
        form
          div.form-group#nodesDiv
            label.control-label(for='numNodes') Nodes:
              input.form-control#numNodes(type='number', min='2', max='20',step='1',value='2')
          div.form-group#lossDiv
            label.control-label(for='lossSlider') Loss:
            div
              span(style={'padding-right':'15px'}) 0
              input.form-control#lossSlider(data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="0.1")
              span(style={'padding-left':'15px'}) 1
          div.form-group#terminationDiv
            label.control-label(for='termination') Termination:
              input.form-control#termination(type='number', min='500', max='100000',step='500',value='1000')
          
          div.form-group#advancedSettingsButton
            button.btn.btn-info.btn-xs(type='button',data-toggle='collapse',data-target='#advancedSettings',
              aria-expanded='fa$()lse') Advanced Settings
          
          div.collapse#advancedSettings
            div.well
              label.control-label(for='randomSeed') Random Seed:
                input.form-control#randomSeed(type='number',min='0',max='10000',value=parseInt(Math.random()*10000))
          
          button.btn.btn-primary#runSim Run Simulation
  
        div.well#networkView
          svg#networkViewCanvas(width = 500, height=500)
            rect.border(x='0',y='0',width='500',height='500')
            circle.masterNode(cx='50',cy='50')#masterNode
            text.label(x='40',y='70') Node
            rect.masterConnector(x='45',y='75',width='10', height='10')#masterConnector
            text.label(x='40',y='100') Connector
            rect.masterLLinkButton(x='25',y='105',width='70',height='40')
            line.masterLLink(x1='40',x2='70',y1='110',y2='110')
            text.label(x='30',y='130') Add Link (L) 
            line.separator(x1='100',y1='0',x2='100',y2='500')
            
      div.tab-pane#resultsTabContent(role='tabpanel')
        div.panel.panel-default.hidden#resultsPanel
          div.panel-heading Results
          div#SimResults
  
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(src="/javascripts/main.js")
  script(src='/javascripts/bootstrap-slider.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js//bootstrap.min.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js")
  script(src='/javascripts/dragDropBehaviour.js')
  link(href='/stylesheets/bootstrap-slider.css',rel='stylesheet')