extends layout

block content
  
  div.container
    div.jumbotron
      h1 Coracle
    ul.nav.nav-tabs(role='tablist')
      li.active(role='presentation')
        a(href='#settingsTabContent', role='tab',data-toggle='tab')#settingsTab Settings
      li(role='presentation')
        a(href='#resultsTabContent', role='tab',data-toggle='tab')#resultsTab Results
      li(role='presentation')
        a(href='#traceTabContent', role='tab',data-toggle='tab')#traceTab Trace
        
            
    div.modal.fade#networkSettingsModal
      div.modal-dialog
        div.modal-content
          div.modal-header
            button.close(type='buton', data-dismiss='modal') &times;
            ul.nav.nav-tabs(role='tablist')
              li.active(role='presentation')
                a(href='#settingsModalTabContent', role='tab',data-toggle='tab')#settingsModalTab Settings
              li(role='presentation')
                a(href='#networkModalTabContent', role='tab',data-toggle='tab')#networkModalTab Network
            
          div.modal-body
            div.tab-content
              div.tab-pane.active#settingsModalTabContent(role='tabpanel')
                include networkSettings
                    
              div.tab-pane#networkModalTabContent(role='tabpanel')
                include networkView

          div.modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            a.btn.btn-primary(href='#networkModalTabContent', role='tab',data-toggle='tab') Next
    
    div.tab-content
      div.tab-pane.active#settingsTabContent(role='tabpanel')
        form
          //div.form-group#nodesDiv
            //label.control-label(for='numNodes') Nodes:
              //input.form-control#numNodes(type='number', min='2', max='20',step='1',value='2')
          //div.form-group#lossDiv
            //label.control-label(for='lossSlider') Loss:
            //div
              //span(style={'padding-right':'15px'}) 0
              //input.form-control#lossSlider(data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="0.1")
              //span(style={'padding-left':'15px'}) 1
              
          div.form-group#openNetworkViewButton
            button.btn.btn-info.btn-s(type='button',data-toggle='modal',data-target='#networkSettingsModal') Configure Network
          
          div.collapse#advancedSettings
            div.well
              label.control-label(for='randomSeed') Random Seed:
                input.form-control#randomSeed(type='number',min='0',max='10000',value=parseInt(Math.random()*10000))
          
          button.btn.btn-primary#runSim Run Simulation
  
        div.well#networkView
          
              

      div.tab-pane#resultsTabContent(role='tabpanel')
        div.panel.panel-default.hidden#resultsPanel
          div.panel-heading Results
          div#SimResults
          
      div.tab-pane#traceTabContent(role='tabpanel')
        div.panel.panel-default.hidden#tracePanel
          div.panel-heading Trace
          div#TraceResults
  
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(src="/javascripts/main.js")
  script(src='/javascripts/bootstrap-slider.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js//bootstrap.min.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js")
  script(src='/javascripts/dragDropBehaviour.js')
  link(href='/stylesheets/bootstrap-slider.css',rel='stylesheet')
  script(src='https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js')
  script(src='/javascripts/jquery.dataTables.columnFilter.js')
  link(href='https://cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css',rel='stylesheet')