extends layout

block content
  
  div.container
    div.jumbotron
      h1 Coracle
    ul.nav.nav-tabs(role='tablist')
      li.active(role='presentation')
        a(href='#settingsTabContent', role='tab',data-toggle='tab')#settingsTab Settings
      li(role='presentation')
        a(href='#resultsTabContent', role='tab',data-toggle='tab')#resultsTab Results
      li(role='presentation')
        a(href='#traceTabContent', role='tab',data-toggle='tab')#traceTab Trace
    div.tab-content
      div.tab-pane.active#settingsTabContent(role='tabpanel')
        form
          //div.form-group#nodesDiv
            //label.control-label(for='numNodes') Nodes:
              //input.form-control#numNodes(type='number', min='2', max='20',step='1',value='2')
          //div.form-group#lossDiv
            //label.control-label(for='lossSlider') Loss:
            //div
              //span(style={'padding-right':'15px'}) 0
              //input.form-control#lossSlider(data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="0.1")
              //span(style={'padding-left':'15px'}) 1

          div.form-group#terminationDiv
            label.control-label(for='termination') Termination:
              input.form-control#termination(type='number', min='500', max='100000',step='500',value='1000')

          div.form-group#workloadMin
            label.control-label(for='workload_min') Workload Min:
              input.form-control#workload_min(type='number', min='0', value='100')
          div.form-group#workloadMMax
            label.control-label(for='workload_max') Workload Max:
              input.form-control#workload_max(type='number', min='0', value='150')

          div.form-group#electionMin
            label.control-label(for='election_min') Election Timeout Min:
              input.form-control#election_min(type='number', min='0', value='150')
          div.form-group#electionMax
            label.control-label(for='election_max') Election Timeout Max:
              input.form-control#election_max(type='number', min='0', value='300')
                
          div.form-group#heartbeatDiv
            label.control-label(for='heartbeat') Heartbeat Interval:
              input.form-control#heartbeat(type='number', min='0', value='30')
          div.form-group#clientDiv
            label.control-label(for='client') Client Timeout:
              input.form-control#client(type='number', min='0', value='50')

          div.form-group#advancedSettingsButton
            button.btn.btn-info.btn-xs(type='button',data-toggle='collapse',data-target='#advancedSettings',
              aria-expanded='false') Advanced Settings
          
          div.collapse#advancedSettings
            div.well
              label.control-label(for='randomSeed') Random Seed:
                input.form-control#randomSeed(type='number',min='0',max='10000',value=parseInt(Math.random()*10000))
          
          button.btn.btn-primary#runSim Run Simulation
  
        div.well#networkView
          div.btn-group
            button.btn.btn-default.active#nodesModeRadioButton Add Nodes
            button.btn.btn-default#linksModeRadioButton Add Links
            button.btn.btn-default#disableModeRadioButton Toggle State
            
          br
          
          svg#networkViewCanvas(width = 500, height=500)
            rect.border(x='0',y='0',width='500',height='500')
            circle.masterServer.masterNode(cx='50',cy='50')#masterServer
            text.label(x='40',y='70') Server
            rect.masterHub.masterNode(x='45',y='75',width='10', height='10')#masterHub
            text.label(x='40',y='100') Hub
            circle.masterClient.masterNode(cx='50',cy='110')#masterClient
            text.label(x='40',y='130') Client
            //rect.masterLLinkButton(x='25',y='105',width='70',height='40')
            //line.masterLLink(x1='40',x2='70',y1='110',y2='110')
            //text.label(x='30',y='130') Add Link (L)
            line.separator(x1='100',y1='0',x2='100',y2='500')
            
          br
          label.control-label(for='timeSlider') Time:
            div
              span(style={'padding-right':'15px'}) 0
              input#timeSlider(data-slider-min="0" data-slider-max="1000" data-slider-step="1" data-slider-value="0")
              span(style={'padding-left':'15px'})#timeSliderMax 1000
            div
              span Current Time:
              span#currentTime 0
              
          div.carousel.slide#examplesCarousel(data-ride='carousel')
            ol.carousel-indicators#carouselIndicators
            
            div.carousel-inner(role='listbox')#carouselItems
            
            a.left.carousel-control(href='#examplesCarousel',role='button',data-slide='prev')
              span.glyphicon.glyphicon-chevron-left
              span.sr-only Previous
              
            a.right.carousel-control(href='#examplesCarousel',role='button',data-slide='next')
              span.glyphicon.glyphicon-chevron-right
              span.sr-only Next
              

      div.tab-pane#resultsTabContent(role='tabpanel')
        div.panel.panel-default.hidden#resultsPanel
          div.panel-heading Results
          div#SimResults
          
      div.tab-pane#traceTabContent(role='tabpanel')
        div.panel.panel-default.hidden#tracePanel
          div.panel-heading Trace
          div#TraceResults
  
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(src="/javascripts/main.js")
  script(src='/javascripts/bootstrap-slider.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js//bootstrap.min.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js")
  script(src='/javascripts/dragDropBehaviour.js')
  link(href='/stylesheets/bootstrap-slider.css',rel='stylesheet')
  script(src='https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js')
  script(src='/javascripts/jquery.dataTables.columnFilter.js')
  link(href='https://cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css',rel='stylesheet')