extends layout

block content
  h1 Coracle
  label Nodes:
  input#numNodes(type='number', min='0', max='100',step='1',value='1')
  br
  label Loss:
  input#loss(type='text',value='0.0')
  br
  button#runSim(data-action="runsim") Run Simulation

  p#SimResults
   script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
   script(src="/javascripts/main.js")