div.row
  div.form-group.col-md-4#workloadMin
    label.control-label(for='workload_min') Workload Min:
      input.form-control#workload_min(type='number', min='0', value='100')
  div.form-group.col-md-4#workloadMMax
    label.control-label(for='workload_max') Workload Max:
      input.form-control#workload_max(type='number', min='0', value='150')

  div.form-group.col-md-4#electionMin
    label.control-label(for='election_min') Election Timeout Min:
      input.form-control#election_min(type='number', min='0', value='150')
  div.form-group.col-md-4#electionMax
    label.control-label(for='election_max') Election Timeout Max:
      input.form-control#election_max(type='number', min='0', value='300')
        
  div.form-group.col-md-4#heartbeatDiv
    label.control-label(for='heartbeat') Heartbeat Interval:
      input.form-control#heartbeat(type='number', min='0', value='30')
  div.form-group.col-md-4#clientDiv
    label.control-label(for='client') Client Timeout:
      input.form-control#client(type='number', min='0', value='50')

div.form-group#advancedSettingsButton
  button.btn.btn-info.btn-xs(type='button',data-toggle='collapse',data-target='#advancedSettings',
    aria-expanded='false') Advanced Settings